h1{
    text-align: center;
   font-family:'Baloo 2', cursive;
   font-weight:normal;
  color:hotpink;
   text-shadow: 7px 7px 18px yellow;
}

form{
  background-color:lightyellow;
  border: 4px solid lightgray;
  border-radius:12px;
  padding: 20px;
  width: 300px;
  color:#66D2d6;
  font-weight:normal;
  font-size:20px;
  
}

input{
 border:2px;
border-color: black;
border-style: solid;
border-radius: 4px;
}