a:visited{
  color:#AA26FF;
}


body{
  background-color:#fdfddd;
}
header{
  /*
  background-image: linear-gradient(to top,lightyellow ,#ff6961);*/  
  color:#FF6961;/*color_name: pastel read*/
  background: linear-gradient(to top, #ffffe0 0%, #ebccff 100%);
  
}
#ta th{
  background-color:#ffffe6;
  font-weight:normal;
  /*color:#FF1205*;*/
  color:#AA26FF;
  font-size:20px;
  
}
#ta{
  background-color:#ffffe6;
  font-size:20px;
  border: 4px solid lightgray;
}
a:link{
  color:green;
}

