header{
  background-color: lightyellow;
  color:#FF6961;/*color_name: pastel read*/
  
}
#ta th{
  background-color:lightyellow;
  font-weight:normal;
  /*color:#FF1205*;*/
  color:#AA26FF;
  font-size:20px;
  
}
#ta{
  background-color:lightyellow;
  font-size:20px;
  border: 4px solid lightgray;
}


