
body{
  background-color:lightyellow;
}
.cabeçario{ 
 
  color:#8f00ff;
  display:block;
  font-size: 50px;
  text-align:center;
  font-weight:normal;
  background-image: linear-gradient(to right, rgba(255,179,179,1), rgba(255,179,179,0));
  font-family:'Sofia', cursive;


}
.cabeçario a{
  font-family: Arial, Helvetica, sans-serif;
  display:block;
  font-size:22px;
  position:relative;
  right:50px;
  font-family:'Times New Roman', Times, serif;

}


a:link{
  
  color:#ff8680;
  text-decoration:none;
  font-size:20px;
  margin:4px;
 

}

a:visited{
  
  color:#FF6347;
}
a:hover{
  color:darkviolet;
}

.link{
  font-family:'Times New Roman', Times, serif;
}

.titulo h1{
  color:rgb(255, 105, 97);
  /*color:#FF7F50;*/
  text-aling:center;
  font-weight:200;
  font-size: 40px;
  font-family:'Sofia', cursive;

  
  
}

#ta th{
  background-color:lightyellow;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:normal;
  color:#8f00ff;
  font-size:20px;
  border: 2px dashed black;
  margin:auto;
  padding:auto;
}

#ta td{
  background-color:lightyellow;
  font-size:20px;
  font-family:'Times New Roman', Times, serif;
  border: 2px dashed black;
  margin:auto;
  padding: auto;
  
}








form{
  /*border: 1px solid #ced4da;*/
  border-radius:30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  width: 300px;
  color:#8a00e6;
  font-weight:normal;
  font-size:20px;
  margin:auto;  
}


  


input{
 border:1px solid #ced4da;
 border-radius:30px;
}

/*clase para o botão do formulario de login*/
.but{
  background-color:lightyellow;
  color:#8a00e6;
  border:1px solid #ced4da;
  margin:8px;
}



