<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
  
  <title>Formulário de jogos</title>
      <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}"> <!-- url_ for dar a url do arquivo-->

  <link rel="stylesheet" href="{{url_for('static',filename='estilo.css')}}">
  
</head>
<body>
  <h1> Novo jogo</h1>
  
<form action="">
  <div>
    <label for="nome">Nome</label>
    <input id="nome" name="name" type="text"></div>
  
  <div>
    <label for="categoria">Categoria</label>
    <input id="categoria" name="categora" type="text"></div>
  
  <div><label for="console"> Console</label>
    <input id="console" name="console" type="text"></div>
  <button>Salvar </button>
</form>
  
</body>
</html>